// Primary Colors
$primary-magenta-900: hsl(300, 43%, 22%);
$primary-pink-400: hsl(333, 80%, 67%);

// Neutral Colors
$neutral-gray-magenta-900: hsl(303, 10%, 53%);
$neutral-gray-magenta-400: hsl(300, 24%, 96%);

// Root (HTML Tag) Font Size
$root-font-size: 15px;